<!doctype html>
<html ng-app="dashboard">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://cdn.rawgit.com/AngularClass/angular-websocket/v2.0.0/dist/angular-websocket.min.js"></script>
    <script src="virtualsky/stuquery.min.js"></script>
    <script src="virtualsky/virtualsky.min.js" type="text/javascript"></script>
    <script src="components.js"></script>
    <script src="widgets.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body class="dashboard" layout="column">
    <div flex="grow" layout="row">
      <div flex="" layout="column">
	<rci-skymap layout="column" flex="66"></rci-skymap>
	<pano layout="column" flex="33"></pano>
      </div>
      <div ng-controller="StatusController">
	<md-card>
	  <md-card-header>
	    <md-card-header-text>
	      <span class="md-title">Current Activity</span>
	    </md-card-header-text>
	  </md-card-header>
	  <md-card-content>
	    <div ng-if="!rci.status.AuthorizedClients.length">Idle</div>
	    <span ng-repeat="client in rci.status.AuthorizedClients">{{client.Name}}<i ng-if="!client.Name">unknown</i><span ng-if="!$last">, </span></span>
	  </md-card-content>
	</md-card>
	<md-card>
	  <md-card-header>
	    <md-card-header-text>
	      <span class="md-title">Mechanical Status</span>
	    </md-card-header-text>
	  </md-card-header>
	  <md-card-content>
	    <table>
	      <tr><th>Azimuth</th><td>
		  <knob ng-model="rci.status.AzPos" unit="°"></knob><br />
		  <knob ng-model="rci.status.AzVel" unit="°/s"></knob>
	      </td></tr>
	      <tr><th>Elevation</th><td>
		  <knob ng-model="rci.status.ElPos" unit="°"></knob><br />
		  <knob ng-model="rci.status.ElVel" unit="°/s"></knob>
	      </td></tr>
	      <tr ng-show="rci.status.CommandTrackingBody"><th>Tracking</th><td>
		  {{rci.status.Bodies[rci.status.CommandTrackingBody]}}
	      </td></tr>
	    </table>
	  </md-card-content>
	</md-card>
	<md-card>
	  <md-card-header>
	    <md-card-header-text>
	      <span class="md-title">RF Status</span>
	    </md-card-header-text>
	  </md-card-header>
	  <md-card-content>
	    <table>
	      <tr><th colspan="2"><div ng-repeat="band in rci.status.Sequencer.Bands track by $index">
		    <span ng-if="band.TX">Transmit on Band {{$index}}</span>
		    <span ng-if="!band.TX && band.CommandTX">Switching to Transmit on Band {{$index}}</span>
		    <span ng-if="band.CommandRX">Receive on Band {{$index}}</span>
		  </div>
	      </th></tr>
	    </table>
	  </md-card-content>
	</md-card>
	<md-card class="more-info">
	  <md-card-header>
	    <md-card-header-text>
	      <span class="md-title">More Information</span>
	    </md-card-header-text>
	  </md-card-header>
	  <md-card-content>
	    <a href="http://w1xm.mit.edu/">http://w1xm.mit.edu/</a>
	  </md-card-content>
	</md-card>
      </div>
    </div>
    <div>
      <md-card>
	<md-card-content>
	  <p>The Green Building roof has housed the experimental
	    WR-66 weather radar since shortly after the building's
	    construction in 1964. After almost four decades of
	    weather research, including as the first NEXRAD
	    prototype, the radar system is now student-run and
	    student-maintained. Today, the MIT Radio Society uses
	    the radar system for Earth-Moon-Earth communication,
	    radioastronomy, and passive Doppler radar research.</p>
	</md-card-content>
      </md-card>
    </div>
  </body>
</html>
